.espacebottom
{
    margin-bottom: 20px;
}
.invisible
{
    display:none
}
.disabled {
    pointerEvents: "none",
}

.right
{
float:right;
}

body
{
background-color:#999999;
}


#contents menu {
  display: none;
}

#contents menu:target {
  display: block;
      top: 6%;
}

#unlockable
{
    background-color:#D9534F;
}


.tile
{
    width: 45px;
    height: 45px;
    float: left;
    border: 2px solid black;
    margin-right: 20px;
    margin-top: 15px;
    background-color: #ddd;
    overflow:hidden;
}

#container
{
    padding-left: 40px;
    padding-right: 40px;
}

.row
{

    padding-top: 20px;
}



.labely
{
    text-align: center;
    line-height: 40px;
    color: black;
}



.myBar {
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
}

.padding_label
{
    padding-left: 16px;
}

