.espacebottom
{
    margin-bottom: 20px;
}
.invisible
{
    display:none
}
.disabled {
    pointerEvents: "none",
}

.right
{
float:right;
}

body
{
background-color:#999999;
}


#contents menu {
  display: none;
}

#contents menu:target {
  display: block;
      top: 6%;
}

svg
{
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
}

#unlockable
{
    background-color:#D9534F;
}


.tile
{
    width: 70px;
    height: 70px;
    float: left;
    border: 3px solid rgba(95, 10, 0, 0.85);
    margin-right: 10px;
    margin-left: 25px;
    margin-top: 0px;
    background-color: #ddd;
    overflow:hidden;
    border-radius: 50%;

}

#container
{
    padding-left: 40px;
    padding-right: 40px;
}


.row
{

    padding-top: 20px;
}

#btnSave
{
    margin-right: 20px;
}
#btnModif
{
    margin-right: 20px;
}

.labely
{
    text-align: center;
    line-height: 40px;
    color: black;
}


.padding_label
{
    padding-left: 16px;
}

[id^="spiderTileDiv"]
{

    background-image: url('Image/spider_giant1.png');
    background-repeat: no-repeat;
    background-position: center;
}
[id^="skeletonTileDiv"]
{

    background-image: url('Image/skeleton1.png');
    background-repeat: no-repeat;
    background-position: center;
}

[id^="licheTileDiv"]
{

    background-image: url('Image/liche3.png');
    background-repeat: no-repeat;
    background-position: center;
}

[id^="goblinTileDiv"]
{

    background-image: url('Image/goblin_2.png');
    background-repeat: no-repeat;
    background-position: center;
}


[id^="zombieTileDiv"]
{

    background-image: url('Image/zombie_3.png');
    background-repeat: no-repeat;
    background-position: center;
}

#rownav
{
    padding-top : 0px;
}

body {
    margin:0;
    padding:0;
    background: url(Image/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    overflow:hidden;
}

.grey
{
    border-color : #000000;
    background-color: #696969 ;
}